<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<f:view>
    <h:form id="all">
        <p:inputText value="#{homeController.inputText}"/>&nbsp;

        <p:selectOneButton value="#{homeController.option}" >
            <f:selectItems value="#{homeController.optionValues}" />
        </p:selectOneButton>&nbsp;

        <p:commandButton value="SEND" action="#{homeController.sendMsg}" update="all"/>

        <br/><br/>

        <p:dataTable value="#{homeController.queueMsgs}" var="msg">
            <f:facet name="header">FirstQueueTab</f:facet>
            <p:column headerText="Message"><p:outputLabel value="#{msg}"/></p:column>
        </p:dataTable>
        <br/><br/>

        <p:dataTable value="#{homeController.secondQueueMsgs}" var="msg2">
            <f:facet name="header">SecondQueueTab</f:facet>
            <p:column headerText="Message"><p:outputLabel value="#{msg2}"/></p:column>
        </p:dataTable>
        <br/><br/>

        <p:dataTable value="#{homeController.firstTopicMsgs}" var="msg3">
            <f:facet name="header">FirstTopicTab</f:facet>
            <p:column headerText="Message"><p:outputLabel value="#{msg3}"/></p:column>
        </p:dataTable>
        <br/><br/>

        <p:dataTable value="#{homeController.secondTopicMsgs}" var="msg4">
            <f:facet name="header">SecondTopicTab</f:facet>
            <p:column headerText="Message"><p:outputLabel value="#{msg4}"/></p:column>
        </p:dataTable>
    </h:form>
</f:view>
</html>
